.bg-p-cover {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 150%;
    background-image: url("../Images/mobilebg.jpg");
    animation: bganimate 60s infinite;
}

.nav-link {
    color: #fff;
    border-bottom: 0.25rem solid rgba(255, 255, 255, 0.0);
    transition: border-bottom 0.5s;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 0.25rem solid rgba(255, 255, 255, 0.7);
}

@media (min-width:768px) {
    .bg-p-cover {
        background-size: 100%;
        background-image: url("../Images/bg-md.jpg");
    }
}

@media (min-width:1200px) {
    .bg-p-cover {
        background-image: url("../Images/BG-XL.jpg");
    }
}

@keyframes bganimate {
    50% {
        background-position: top right;
    }
}